$translateY: 35px;

.xf-input {
  position: relative;
  margin-top: calc($translateY - 10px);

  label {
    position: absolute;
    left: 9px;
    bottom: 4px;
    transition: all 0.3s ease;
  }

  input,
  select,
  &-input {
    background: transparent;
    width: 100%;
    border: 0;

    &:focus {
      outline: none;
    }
  }

  &-active,
  &-populated {
    border-bottom-width: 2px;

    label {
      transform-origin: left;
      transform: scale(0.75) translateY(-$translateY);
    }
  }
}
