$translateY: 35px;

.xf-input {
  position: relative;

  label {
    position: absolute;
    left: 9px;
    bottom: 4px;
    transition: all 0.3s ease;
    background: transparent;
    z-index: 1;
  }

  input,
  select,
  &-input {
    background: transparent;
    width: 100%;
    border: 0;
    z-index: 2;

    &:focus {
      outline: none;
    }
  }

  &-border {
    margin-top: calc($translateY - 5px);
    border-bottom: 1px solid;
  }

  &-outlined {
    border: 1px solid;
    border-radius: 5px;
    margin-top: calc($translateY - 20px);

    label {
      bottom: 7px;
      padding: 2px 5px;
    }
  }

  &-active,
  &-populated {
    border-bottom-width: 2px;

    label {
      transform-origin: left;
      transform: scale(0.75) translateY(-$translateY);
    }
  }
}
